*{
    box-sizing: border-box;
    font-family: 'Miriam Libre', sans-serif;
    text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
  opacity: 0.6;
}

.main-view ul{
  position: relative;
  height: flex;
  width: 100%;
  padding: 10px;
  line-height: 1.3em;
  background-color: rgb(65, 65, 65);
  color: white;
}

select {
  font-size: 18px;
  color: rgb(164, 30, 1);
  background-color: white;
  border: 1.5px solid rgb(65, 65, 65);
  margin: 1.1em;
}

input, button {
  font-size: 18px;
  color: rgb(164, 30, 1);
  background-color: white;
  border-radius: 5px;
}
