* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-family: 'Eczar', serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #717171;
  opacity: 0.6;
}

select {
  font-size: 18px;
  color: #04277e;
  background-color: white;
  margin: 10px;
}

input {
  font-size: 18px;
  color: #000;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

button {
  font-size: 18px;
  color: #000;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 0 #006599;
  cursor: pointer;
  box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
  margin: 0;
  outline: 0;
  transition: all .2s linear;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

button:hover {
  font-size: 18px;
  color: #fff;
  background-color: rgb(94, 174, 204);
  border-radius: 10px;
  box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
}

label {
  font-size: 18px;
}

header h1, .purchase-results h2, .similar-results h2 {
  color: black;
  font-size: 35px;
  background-color: rgb(134, 222, 255);
  font-family: 'Concert One';
  position: relative;
  height: flex;
  width: 100%;
  padding: 10px;
}

.splash-screen-view {
  min-width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.splash-screen-view h1 {
  font-family: 'Concert One';
  font-size: 35px;
  background-color: rgb(134, 222, 255);
}

.buy-links-btn {
  font-size: 18px;
  color: #000;
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
}

.buy-links-btn:hover {
  font-size: 19px;
  color: #fff;
  background-color: rgb(94, 174, 204);
  border-radius: 10px;
  box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
}

.magnifying-glass-icon {
  height: 45px;
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.injected-js-similar-results {
  margin-top: 10px;
  padding-top: 0.9em;
  background: radial-gradient(circle, rgb(255, 255, 255), rgb(189, 239, 255));
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.js-result-name {
  font-size: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}

.no-results-view {
  font-size: 18px;
  margin: 10px;
}

.injected-js-purchase-results {
  margin-top: 10px;
  padding-top: 1.6em;
  background: radial-gradient(circle, rgb(255, 255, 255), rgba(255, 176, 22, 0.55));
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.back-to-similar-results-container {
  clear: both;
  margin-bottom: 10px;
}

.start-over-btn-container {
  clear: both;
  margin-bottom: 100px;
}

@media only screen and (min-width: 740px) {
  select {
    font-size: 25px;
    color: #04277e;
    background-color: white;
    margin: 10px;
  }
  input {
    font-size: 25px;
    color: #000;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
  }
  button {
    font-size: 25px;
    color: #000;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
  }
  button:hover {
    font-size: 25px;
    color: #fff;
    background-color: rgb(94, 174, 204);
    border-radius: 10px;
    box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
  }
  label {
    font-size: 25px;
  }
  header h1, .purchase-results h2, .similar-results h2 {
    color: black;
    font-size: 45px;
    background-color: rgb(134, 222, 255);
    font-family: 'Concert One';
    position: relative;
    height: flex;
    width: 100%;
    padding: 10px;
  }
  .splash-screen-view {
    min-width: 400px;
    height: 400px;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .splash-screen-view h1 {
    font-size: 45px;
  }
  .buy-links-btn {
    font-size: 18px;
    color: #000;

  }
  .buy-links-btn:hover {
    font-size: 19px;
    color: #fff;
    background-color: rgb(94, 174, 204);
    border-radius: 10px;
    box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.17);
  }
  .magnifying-glass-icon {
    display: inline;
  }

  .injected-js-similar-results {
    float: left;
    width: 30.33%;
    margin: 1.5%;
    padding: 10px;
    height: 150px;
    clear: none;
  }

  .js-result-name {
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
  }

.injected-js-purchase-results {
    float: left;
    width: 30.33%;
    margin: 1.5%;
    min-height: 350px;
    clear: none;
  }

  .no-results-view {
    font-size: 18px;
    margin: 10px;
  }
}
