*{
    box-sizing: border-box;
    font-family: 'Miriam Libre', sans-serif;
    text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gray;
  opacity: 0.6;
}

.main-view p{
  position: relative;
  height: flex;
  width: 100%;
  padding: 10px;
  line-height: 100%;
  background-color: rgb(65, 65, 65);
  color: white;
}
